<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Yuan_Helloworld>
            <version>0.1.0</version>
        </Yuan_Helloworld>
    </modules>
    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Yuan_Helloworld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>
    </frontend>
    <global>
        <!-- ... -->
        <models>
            <helloworld>
                <class>Yuan_Helloworld_Model</class>
                <!--
                    need to create our own resource, can't just
                    use core_mysql4
                    -->
                <resourceModel>helloworld_mysql4</resourceModel>
            </helloworld>
            <helloworld_mysql4>
                <class>Yuan_Helloworld_Model_Resource_Mysql4</class>
                <entities>
                    <blogpost>
                        <table>blog_posts</table>
                    </blogpost>
                </entities>
            </helloworld_mysql4>
            <helloworld-eav>
                <class>Yuan_Helloworld_Model</class>
                <resourceModel>helloworld-eav_mysql4</resourceModel>
            </helloworld-eav>
            <helloworld-eav_mysql4>
                <class>Yuan_Helloworld_Model_Resource_Eav_Mysql4</class>
                <entities>
                    <blogpost>
                        <table>eavblog_posts</table>
                    </blogpost>
                </entities>
            </helloworld-eav_mysql4>
        </models>
        <!-- ... -->
        <resources>
            <!-- ... -->
            <helloworld_setup>
                <setup>
                    <module>Yuan_Helloworld</module>
                    <class>Yuan_Helloworld_Model_Setup_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </helloworld_setup>
            <!-- ... -->
            <helloworld-eav_write>
                <connection>
                    <use>default_write</use>
                </connection>
            </helloworld-eav_write>
            <helloworld-eav_read>
                <connection>
                    <use>default_read</use>
                </connection>
            </helloworld-eav_read>
            <helloworld-eav_setup>
                <setup>
                    <module>Yuan_Helloworld</module>
                    <class>Yuan_Helloworld_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </helloworld-eav_setup>
        </resources>
        <helpers>
            <helloworld>
                <class>Yuan_Helloworld_Helper</class>
            </helloworld>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <helloworld_options>
                                            <title>Store Hello World Module Section</title>
                                        </helloworld_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

</config>